<?xml version="1.0" encoding="UTF-8"?>
<!--
    id : Plugin識別碼 (for add/remove)
    version : Plugin版本
    1.0.1 init version
    1.0.2 fix dependency and file sync
    1.0.3 prevent duplicate entry in build.gradle
-->
<plugin id="com.kcchen.lambda" version="1.0.3"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>lambda</name>
    <description>lambda support (JDK 8) for Android</description>
    <license>MIT</license>
    <keywords>cordova,lambda</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <!-- android -->
    <platform name="android">
        <hook type="after_plugin_install" src="hooks/after_plugin_add.js" />
        <hook type="after_platform_add" src="hooks/after_plugin_add.js" />
        <hook type="before_plugin_uninstall" src="hooks/before_plugin_rm.js" />
        <!-- <framework src="src/android/build.gradle" custom="true" type="gradleReference"/> -->
    </platform>
</plugin>
